<div class="div">
  <h1>{{title}}</h1>
    <div class="mb-3">
      <label class="form-label">{{varNombre}}</label>
      <input #nombre id="campoName" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">{{varApellido}}</label>
      <input #apellido class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">{{varTelefono}}</label>
      <input #telefono class="form-control">
    </div>
    <button (click)="addUser(nombre.value,apellido.value,telefono.value)" type="text" class="btn btn-primary">Enviar</button>
  <h3 class="mb-10">{{usuarios}}</h3>
  <ul >
    <li class="mb-3" *ngFor="let dato of myDatos"> {{dato.nombre}}  {{dato.apellido}}, Telefono : {{dato.telefono}} <button (click)="eliminar(dato.id)" type="button"
      class="btn btn-danger me-2">Eliminar</button></li>
  </ul>
</div>